.container{
  position: relative;
}
#creators{
  .modal-body{
    a{
      color: $color-four;
    }
    li{
      list-style: none;
      font-size: 2.5em;
    }
    p{
      font-size: 2em;
      font-weight: bold;
    }
  }
}
.teacherPath, .studentPath{
  text-align: center;
  width: 100%;
  background: $color-one;
  color: $color-two;
  border: $color-two solid 10px;
  padding: 40px 0;
  margin-bottom: 10px;
  @include transition(all 0.3s ease-in-out);
  i{
    font-size: 2.5em;
  }
  &:hover{
    border-color: $color-four;
    color: $color-four;
  }
}
.createClassroomForm{
  input{
    width: 75%;
    margin: 0 0 10px 0;
  }
}
.classroomList{
  list-style: none;
  li{
    width: 50%;
    text-align: center;
    padding: 20px;
    background: $color-two;
    margin: 5px;
    @include transition(all 0.3s ease-in-out);
    span{
      position: relative;
      color: $color-one;
      font-size: 1.5em;
      font-weight: bold;
      i{
        font-size: 1.5em;
      }
    }
    &:hover{
      background: $color-four;
      font-size: 2.5em;
    }
  }
}