.container{
  position: relative;
}
.navContainer{
  position:relative;
}
body{
  background: $color-three;
}
#creators{
  .modal-body{
    a{
      color: $color-four;
    }
    li{
      list-style: none;
      font-size: 2.5em;
    }
    p{
      font-size: 2em;
      font-weight: bold;
    }
  }
}
.teacherPath, .studentPath{
  text-align: center;
  width: 100%;
  background: $color-four-t5;
  color: $color-one;
  //border: $color-two solid 10px;
  padding: 40px 0;
  margin-bottom: 10px;
  @include transition(all 0.3s ease-in-out);
  i{
    font-size: 2.5em;
  }
  &:hover{
    //border-color: $color-four;
    background: $color-four-t7;
  }
}
.createClassroomForm{
  input{
    width: 75%;
    margin: 0 0 10px 0;
  }
}
.choosePathTitle{
  color: $color-one;
  text-align: center;
  h2{
    font-size: 4em;
    @media (min-width: $screen-sm-min){
      font-size: 8em;
    }
  }
}
.classroomList{
  list-style: none;
  li{
    width: 50%;
    text-align: center;
    padding: 10px;
    background: $color-two;
    margin: 5px;
    @include transition(all 0.3s ease-in-out);
    span{
      position: relative;
      color: $color-one;
      font-size: 1.5em;
      font-weight: bold;
      i{
        font-size: 1.5em;
      }
    }
    &:hover{
      background: $color-four;
      font-size: 2.5em;
    }
  }
}

.choosePathImage{
  background: url(/img/teaching.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 500px;
  position: absolute;
}