.student-timer{
  text-align: right;
  color: lighten($color-two, 60%)
}
.status{
  width: 40px;
  height: 40px;
  margin: 5px;
  display: inline-block;
  &.defcon1{
    background: $color-five;
    &:hover{
      background: darken($color-five, 15%);
      @include transition(all 0.3s ease-in-out);
    }
  }
  &.defcon2{
    background: $color-six;
    &:hover{
      background: darken($color-six, 15%);
      @include transition(all 0.3s ease-in-out);
    }
  }
  &.defcon3{
    background: $color-four;
    &:hover{
      background: darken($color-four, 15%);
      @include transition(all 0.3s ease-in-out);
    }
  }
}