$color-one: white;
$color-two: #343434; // grey
$color-three: #E0DDD1; // tan
$color-four: #CF3228; // red
$color-four-t5: rgba(207, 50, 40, 0.5);
$color-four-t7: rgba(207, 50, 40, 0.7);
$color-five: #00B247; //green
$color-six: #FFA919; // orange