<!DOCTYPE html>
<html>
<head>
  <title>CF Class Barometer</title>
  {{!-- jQuery --}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  {{!-- underscore --}}
  <script src="lib/underscore.js"></script>
  {{!-- backbone --}}
  <script src="lib/backbone.js"></script>
  {{!-- handlebars --}}
  <script src="lib/handlebars.js"></script>
  {{!-- bring in socket.io --}}
  <script src="/socket.io/socket.io.js"></script>
  
  <script src="main.js"></script>
  <script type="html" src="templates.html"></script>
</head>

<body>
  <h2>really fun placeholder</h2>
  <form action="">
    <button id="joinClass" type="button">Join Class</button>
    <select name="clientCond">
      <option value="ready">Ready</option>
      <option value="notReady">Not Ready</option>
      <option value="needHelp" selected>Need Help</option>
      <option value="success">Success</option>
    </select>
  </form>
  <div id='dropzone'></div>
  <script>
    $("#joinClass").on("click", function(e){
      e.preventDefault();
      
      var socket = io.connect("http://localhost");
      socket.on("update", function(data){

        App.classroom = new App.Classroom();

        _.each(data, function(elem, index, list) {
          var temp = { id: index, status: elem.status, comment: elem.comment };
          //console.log(temp);
          App.classroom.create(temp);
        });

        if (App.classroomView) {
          App.classroomView.el.innerHTML = '';
        }

        App.classroomView = new App.ClassroomView({
          collection: App.classroom
        });

      });
      $("[name='clientCond']").on("change", function(e) {
        socket.emit("setStatus", $("[name='clientCond']").val() );
      });
    })
  </script>
</body>
</html>