<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student View</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="wrap">
    <nav class="navigation" role="navigation">
      <div class="container">
        <h1>Class Barometer</h1>
      </div>
    </nav>

    <div id="main">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Who are you?</h2>
          </div> 
          <div class="col-md-12">
            <button type="button" class="btn btn-primary teacher">Teacher</button>
            <button type="button" class="btn btn-primary student">Student</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{!-- jQuery --}}
  <script src="jquery/jquery.min.js"></script>
  
  <script>
    $('.teacher').on('click', function(){
      window.location='/teacher';
    })
     $('.student').on('click', function(){
      window.location='/student';
    })
  </script>
</body>
</html>