<!DOCTYPE html>
<html>
<head>
  <title>CF Class Barometer</title>

  {{!-- jQuery --}}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  {{!-- underscore --}}
  <script src="lib/underscore.js"></script>
  {{!-- backbone --}}
  <script src="lib/backbone.js"></script>
  {{!-- handlebars --}}
  <script src="lib/handlebars.js"></script>
  {{!-- bring in socket.io --}}
  <script src="/socket.io/socket.io.js"></script>
  {{!-- backbone App --}}
  <script src="main.js"></script>
</head>

<body>
  <div class='teacher' style="margin:10px;height:200px;width:200px;border:5px solid black;display:inline-block">
  teacher side
</div>
  <div class='student' style="margin:10px;height:200px;width:200px;border:5px solid black;display:inline-block">
  student side
</div>
<script>
  $('.teacher').on('click', function(){
    window.location='/teacher';
  })
   $('.student').on('click', function(){
    window.location='/student';
  })
</script>
</body>
</html>