<!DOCTYPE html>
<html>
	<head>
	  <title>CF Class Barometer</title>

	  {{!-- jQuery --}}
	  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	  {{!-- underscore --}}
	  <script src="lib/underscore.js"></script>
	  {{!-- backbone --}}
	  <script src="lib/backbone.js"></script>
	  {{!-- handlebars --}}
	  <script src="lib/handlebars.js"></script>
	  {{!-- bring in socket.io --}}
	  <script src="/socket.io/socket.io.js"></script>
	  {{!-- backbone App --}}
	  <script src="main.js"></script>
	</head>
	<body>
		
	</body>
</html>