<!DOCTYPE html>
<html>
    <head>
        <title>CF Class Barometer</title>
        {{!-- jQuery --}}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        {{!-- underscore --}}
        <script src="lib/underscore.js"></script>
        {{!-- backbone --}}
        <script src="lib/backbone.js"></script>
        {{!-- bring in socket.io --}}
        <script src="/socket.io/socket.io.js"></script>

    </head>

    <body>
        <h2>really fun placeholder</h2>

        <script>
            /*
             * This variable holds the value of the file as it was defined
             * on the server.
             */
            // var serverText = "{{content}}";
            // var socket = io.connect("http://localhost");
            
            // socket.on("update", function(data){
            //     var newText = applyPatch(data.p,serverText);
            //     $("[name='content']").val(newText);
            //     serverText = newText;
            // });

            // /*
            //  * Event handler for the save button
            //  */
            // $("[name='save']").on("click", function() {
            //     var clientText = $("[name='content']").val(),
            //         patch = generatePatch(serverText, clientText);
            //     var name = $("[name='filename']").val();
            //     // console.log(patch); // TODO: send this to the server instead
            //     socket.emit("save", {"name": name, p: patch})
            //     serverText = clientText;
            // });
        </script>
    </body>
</html>